<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<ul>
    <% for(var i=0; i<allJokes.length; i++) {%>
    <li><%= allJokes[i] %></li>
    <% } %>
</ul>


<a href="/">Back</a>
</body>
</html>